@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap');
:root {
  /* Your default theme */
  --background: #ffffff;
  --colorWhite: #000000;
  --titleColor: #000000;
  --footerGradient: linear-gradient(180deg, rgb(249 249 249), #e0e0e0);
  --hoverBg: #bbbbbb33;
  --hoverShadow: 0 4px 8px rgba(0, 0, 0, 0.23);
  --videoBg: linear-gradient(
    180deg,
    rgba(34, 38, 45, 1) 0%,
    rgba(72, 81, 97, 1) 50%,
    rgba(255, 255, 255, 1) 100%
  );
  --headerBg: #ffffff;
  --headerBorderColor: #ededed;
  --eventMenu: #ededed;
  --borderColor: #f7f7f7;
  --eventButtonBg: #f0f0f0;
  --eventButtonColor: #000000;
  --racesTableHover: #f8f8f8;
  --racesButton: #f1f1f1;
  --studListBg: #f8f8f8;
  --studListHover: #ececec;
  --studListBorder: #ffffff;
  --bigCtaBg: #f0f0f0;
  --rosterBgHover: #ececec;
  --resultBtnBg: #ffffffdb;
  --resultBtnImg: invert(1);
  --raceViewBg: #ffffff;
  --dropdown: #ffffff;
  --dropdownHover: #eaeaea;
  --stackBg: #e3e3e3;
  --footerBg: #f0f0f0;
  --settingItemBg: #f1f1f1;
  --swapBtnBg: #00000017;
  --boostBorder: #d5d5d5;
  --profileInputBg: #ffffff;
  --profileInputBorder: #09090952;
}

[data-theme='dark'] {
  --background: #1f2128;
  --colorWhite: #ffffff;
  --titleColor: #f0f8ff5e;
  --footerGradient: linear-gradient(180deg, rgb(34 38 46), #191d23);
  --hoverBg: #373a42;
  --hoverShadow: 0 4px 18px rgb(0 0 0 / 24%);
  --videoBg: #22262e;
  --headerBg: #2a2a2a;
  --headerBorderColor: #2a2a2a;
  --eventMenu: #283544;
  --borderColor: #2a2f35;
  --eventButtonBg: #656a71;
  --eventButtonColor: #b6bfc5;
  --racesTableHover: linear-gradient(
    to right,
    rgb(27, 32, 37),
    rgb(39, 44, 49),
    rgb(27, 32, 37)
  );
  --racesButton: #3f444a;
  --studListBg: #2a2e35;
  --studListBorder: #1f2128;
  --studListHover: #34363a;
  --bigCtaBg: linear-gradient(180deg, #22262d, #252932);
  --rosterBgHover: #3b3f47;
  --resultBtnBg: #2a2e35ba;
  --resultBtnImg: invert(0);
  --raceViewBg: linear-gradient(180deg, #282620, #1c1c19 50%);
  --dropdown: #2a2a2a;
  --dropdownHover: #ffffff26;
  --stackBg: #1f222a;
  --footerBg: #1d1e22;
  --settingItemBg: #282c39;
  --swapBtnBg: #ffffff14;
  --boostBorder: #3d3f46;
  --profileInputBg: #31373d;
  --profileInputBorder: #f0f8ff52;
}
html {
  overflow-x: hidden;
}
html,
body,
#__next {
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  background: var(--background);
  color: var(--colorWhite);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}
button {
  transition: 0.3s;
}
.container {
  max-width: 1300px;
  margin: auto;
  padding: 0 20px;
}
.slick-slide > div {
  margin: 0 5px !important;
}
.slick-list {
  margin: 0 -5px !important;
}
.info-page {
  padding: 60px 0;
}

.info-page h1 {
  text-align: center;
  margin-bottom: 50px;
  text-transform: uppercase;
  font-size: 50px;
}

.info-page h2 {
  font-size: 22px;
  margin-bottom: 10px;
}

.info-page p {
  font-size: 16px;
  margin-bottom: 20px;
}
.genesis-tab .react-tabs__tab-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  text-align: center;
  padding-bottom: 100px;
}
.genesis-tab .react-tabs__tab--selected .horse-tab-menu {
  border: 1px solid #f0b90c;
  background: #f0b90c0f;
}
.react-switch-handle {
  border: 1px solid #ededed !important;
}
.pro-sidebar > .pro-sidebar-inner {
  background: var(--background) !important;
}
.pro-sidebar .pro-menu > ul > .pro-sub-menu > .pro-inner-list-item {
  background: var(--eventMenu) !important;
}
.pro-sidebar .pro-menu a,
.pro-sidebar .pro-menu .pro-menu-item > .pro-inner-item > .pro-item-content {
  color: var(--colorWhite) !important;
}
.accordion__button {
  position: relative;
}
.accordion__button:before {
  position: absolute;
  right: 10px;
  top: 42%;
}
.accordion__button {
  background: var(--bigCtaBg) !important;
  color: var(--colorWhite) !important;
  margin-bottom: 20px !important;
}
.accordion__item:last-child .accordion__button {
  margin-bottom: 0 !important;
}
.react-switch-bg > div {
  padding-left: 6px !important;
  padding-top: 8px !important;
  font-weight: 500 !important;
  font-size: 13px !important;
  color: #fff;
}
.rangeslider .rangeslider__handle {
  background: #eab508 !important;
  border: 1px solid #eab508 !important;
  box-shadow: none !important;
}
.rangeslider-horizontal .rangeslider__handle:after {
  background-color: #eab508 !important;
  box-shadow: none !important;
}
.rangeslider-horizontal {
  height: 6px !important;
}
.rangeslider {
  background: #eab5072b !important;
}
.rangeslider-horizontal .rangeslider__fill {
  background-color: #eab507 !important;
}
.rangeslider,
.rangeslider .rangeslider__fill {
  box-shadow: none !important;
}

/* The container */
.custom-checkbox {
  display: block;
  position: relative;
  padding-left: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
}

/* Hide the browser's default checkbox */
.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: transparent;
  border-radius: 5px;
  border: 2px solid #edb709;
}
/* When the checkbox is checked, add a blue background */
.custom-checkbox input:checked ~ .checkmark {
  background-color: #edb709;
  border: 2px solid #edb709;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.custom-checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.custom-checkbox .checkmark:after {
  left: 4px;
  top: 0px;
  width: 5px;
  height: 10px;
  border: solid #fff;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
.nft-listing-split-sidebar .accordion__button {
  padding: 0px;
  background: transparent !important;
}

.nft-listing-split-sidebar .accordion__button:before {
  top: 5px;
  right: -8px;
}
.nft-listing-split-sidebar .accordion {
  border: none;
}
.nft-listing-split-sidebar .accordion__button:before {
  height: 8px;
  width: 8px;
  border-bottom: 1px solid currentColor;
  border-right: 1px solid currentColor;
}
.nft-listing-split-sidebar .accordion__button[aria-expanded='true']::before,
.nft-listing-split-sidebar .accordion__button[aria-selected='true']::before {
  top: 0;
}
.nft-listing-split-sidebar .accordion__panel {
  padding: 0;
}
.nft-listing-split-sidebar .accordion__panel ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px 0;
}
.nft-listing-split-sidebar .accordion__item + .accordion__item {
  border-top: 1px solid var(--hoverBg);
  padding-top: 20px;
}
.d-flex {
  display: flex;
  align-items: center;
  gap: 10px;
}
.btn {
  background: #2ee370;
  border-radius: 8px;
  color: #000;
  cursor: pointer;
  border: 1px solid #2ee370;
  font-size: 14px;
  font-weight: 500;
  padding: 8px 25px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.profile-btn-img {
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.profile-side-menu {
  position: fixed;
  background: #121619;
  right: 0;
  height: 100vh;
  top: 0;
  overflow: auto;
  min-width: 300px;
  z-index: 9999;
}

.profile-side-menu > svg {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 20px;
  height: auto;
  cursor: pointer;
}

.profile-side-menu-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin-top: 30px;
}

.profile-side-menu-header strong {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  font-size: 18px;
}

.profile-side-menu-header strong span {
  border-radius: 50%;
}

ul.profile-side-list li {
}

ul.profile-side-list li a {
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  background: #343a3f;
  padding: 10px 20px;
  border-bottom: 1px solid #121619;
  display: block;
}

.profile-side-card {
  border: 1px solid #272d31;
  margin: 20px;
  border-radius: 5px;
}

.profile-side-card-header {
  border-bottom: 1px solid #272d31;
  display: flex;
  align-items: center;
  gap: 5px;
}

.profile-side-card-header span {
  font-size: 12px;
  font-weight: 400;
  color: #878e97;
  padding: 8px;
}

.profile-side-card-header strong {
  background: #343a3f;
  padding: 8px 10px;
  font-size: 12px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 9px;
  margin-right: 10px;
  cursor: pointer;
}

.profile-side-card ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 5px;
  font-weight: 400;
  font-size: 12px;
}

.profile-side-card ul li span {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile-side-card ul li span svg {
  width: 25px;
  height: auto;
}

.profile-side-card ul {
  padding: 12px 10px;
}

.profile-side-card button {
  display: block;
  text-align: right;
  width: 100%;
  background: transparent;
  border: none;
  border-top: 1px solid #272d31;
  padding: 15px;
  color: #46e370;
  cursor: pointer;
}
.profile-side-card button:hover {
  background: #1a1f22;
}
.discount-btn {
  border: 1px solid #4d5358;
  display: block;
  margin: 20px;
  text-align: center;
  padding: 10px;
  font-weight: 400;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
}
.discount-btn:hover {
  background: #1a1f22;
}
ul.profile-side-list li a:hover {
  background: #1a1f22;
}
@media screen and (max-width: 991px) {
  .info-page h1 {
    font-size: 40px;
  }
  .genesis-tab .react-tabs__tab-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 0px;
  }
}
